
.vs/PandemicShoppingGame/v15/.suo
.vs/PandemicShoppingGame/v15/Server/sqlite3/db.lock
.vs/PandemicShoppingGame/v15/Server/sqlite3/storage.ide
.vs/PandemicShoppingGame/v15/Server/sqlite3/storage.ide-shm
.vs/PandemicShoppingGame/v15/Server/sqlite3/storage.ide-wal
PandemicShoppingGame/bin/Windows/x86/Debug/PandemicShoppingGame.exe
PandemicShoppingGame/bin/Windows/x86/Debug/PandemicShoppingGame.pdb
PandemicShoppingGame/Content/obj/Windows/Content/.mgcontent
PandemicShoppingGame/Content/obj/Windows/Content/.mgstats
PandemicShoppingGame/Content/obj/Windows/Content/bag.mgcontent
PandemicShoppingGame/Content/obj/Windows/Content/cashier.mgcontent
PandemicShoppingGame/Content/obj/Windows/Content/enemy.mgcontent
PandemicShoppingGame/Content/obj/Windows/Content/newFont.mgcontent
PandemicShoppingGame/Content/obj/Windows/Content/player.mgcontent
PandemicShoppingGame/Content/obj/Windows/Content/player1.mgcontent
PandemicShoppingGame/Content/obj/Windows/Content/shelf.mgcontent
PandemicShoppingGame/Content/obj/Windows/Content/shelfVertical.mgcontent
PandemicShoppingGame/Content/obj/Windows/Content/shoplist.mgcontent
PandemicShoppingGame/Content/obj/Windows/Content/singbread.mgcontent
PandemicShoppingGame/Content/obj/Windows/Content/singketch.mgcontent
PandemicShoppingGame/Content/obj/Windows/Content/singmilk.mgcontent
PandemicShoppingGame/Content/obj/Windows/Content/singolive.mgcontent
PandemicShoppingGame/Content/obj/Windows/Content/tile.mgcontent
PandemicShoppingGame/obj/x86/Debug/PandemicShoppingGame.csproj.FileListAbsolute.txt
PandemicShoppingGame/obj/x86/Debug/PandemicShoppingGame.exe
PandemicShoppingGame/obj/x86/Debug/PandemicShoppingGame.pdb
